<!--Content Section-->
<section>
<div id="services" class="scrollto clearfix">

  <div class="row no-padding-bottom clearfix">


    <!--Content Left Side-->
    <div class="col-3">
      <!--User Testimonial-->
      <blockquote class="testimonial text-right bigtest">
        <q>SI CREES QUE PUEDES, YA ESTÁS A MEDIO CAMINO </q>
        <footer>— Theodore Roosevelt</footer>
      </blockquote>
      <!-- End of Testimonial-->

    </div>
    <!--End Content Left Side-->

    <!--Content of the Right Side-->
    <div class="col-3">
      <div class="section-heading">
        <h3>{{content.tagline}}</h3>
        <h2 class="section-title">{{content.title}}</h2>
        <p class="section-subtitle">{{content.subtitle}}</p>
      </div>
      <p>
        Red para conectar inversionistas individuales que apuestan a una idea emprendedora valiosa no sólo con dinero,
        sino con capital social, conocimientos, contactos, expertise, etc. para catapultar al emprendimiento a una nueva
        dimensión, promoviendo su permanencia y trascendencia, estimulando de esta forma la inversión en etapa temprana
        y coadyuvando a la reducción de la brecha de financiamiento existente.
      </p>
      <p>Oportunidad para legar en la sociedad. Espacio para diversificar patrimonio y a la vez explotar activos
        acumulados.
      </p>

      <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
      <a href="#" data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox">
        Comenzar <i class="fa fa-play" aria-hidden="true"></i>
      </a>
    </div>
    <!--End Content Right Side-->

    <div class="col-3">
      <img src="assets/images/us.jpg" alt="Dancer" />
    </div>

  </div>


</div>
</section>
<!--End of Content Section-->