<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Negocios por categoria</h4>
                      <p class="card-category">
                          <span class="text-secondary"><i class="fa fa-long-arrow-up"></i> 55% </span> crecimiento total.</p>
                          <google-chart class='chart' #chart
                                [title]="title"
                                [type]="type"
                                [data]="data"
                                [columnNames]="columnNames"
                                [options]="options"
                                >
                            </google-chart>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
  </div>
</div>
