<div>
    <section>
        <div class="container mt-10 ">
            <div class="row mb-0">
                <h2>Listado de favoritos</h2>
            </div>
            <div class="row pt-0">
                <button (click)="openDialog()" class="btn btn-primary">Añadir Lista</button>
            </div>
            <div class="row">
                <div class="col-md-4" *ngFor="let item of JsonData">
                    <div class="card">
                        <div class="card-body">
                            <h3>{{item.nombre_favorito}}</h3>
                            <div *ngFor="let st of item.lista_negocios">
                            
                            <p>{{st.nombreNegocio}}</p>
                            </div>
                            
                         
                        </div>
                        <div class="card-footer">
                            <div class="col-4">
                                <button  id="{{item.id}}" class="btn btn-danger" (click)="deleteCard(item.id)"  href="">Eliminar</button>
                            </div>
                            <div class="col-5">
                                <button class="btn btn-success" href="">Editar</button>
                            </div>
                        </div>
                    </div>
                </div>
                
        
            </div>
        </div>
    </section>
</div>