<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Startups</h4>
                      <p class="card-category"> Detalle de emprendedores</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                    Nombre Startup
                                  </th>
                                  <th>
                                    Visitas
                                  </th>
                                  <th>
                                    Categoria
                                  </th>
                                  <th>
                                      Direccion
                                  </th>
                              </thead>
                              <tbody id='tbStartup'>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Inversionistas</h4>
                      <p class="card-category"> Datos relevantes</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      Nombre
                                  </th>
                                  <th>
                                      Intereses
                                  </th>
                                  <th>
                                      No.Inversiones
                                  </th>
                                  <th>
                                      Financiamiento
                                  </th>
                              </thead>
                              <tbody id='tbInvestor'>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
