<!--Testimonials-->
<section>
<aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

    <div class="row clearfix">

      <div class="section-heading">
        <h3>{{team.tagline}}</h3>
        <h2 class="section-title">{{team.title}}</h2>
      </div>

      <!--User Testimonial-->
      <blockquote class="col-3 testimonial classic">
        <img src="assets/images/team-images/Nicole.PNG" alt="User" />
        <h4>Nicole Alvarez</h4>  
        <p>Desarrolladora</p>
        <footer>
          <p>Estudiante de ESPOL</p>
          <p>ngalvare@espol.edu.ec</p>
        </footer> 
      </blockquote>
      <!-- End of Testimonial-->

      <!--User Testimonial-->
      <blockquote class="col-3 testimonial classic">
        <img src="assets/images/team-images/carla.jpg" alt="User" />
        <h4>Carla Sánchez</h4>  
        <p>Desarrolladora</p>
        <footer>
          <p>Estudiante de ESPOL</p>
          <p>carmsanc@espol.edu.ec</p>
        </footer> 
        
        
      </blockquote>
      <!-- End of Testimonial-->

      <!--User Testimonial-->
      <blockquote class="col-3 testimonial classic">
        <img src="assets/images/team-images/caro.jpeg" alt="User" />
        <h4>Lessete Zambrano</h4>  
        <p>Desarrolladora</p>
        <footer>
          <p>Estudiante de ESPOL</p>
          <p>lczambra@espol.edu.ec</p>
        </footer>
      </blockquote>
      <!-- End of Testimonial-->

    </div>

  </aside>
</section>
  <!--End of Testimonials-->