<!--Profile Section-->
<section>
    <div id="profile" class="scrollto clearfix">

        <div class="row no-padding-bottom clearfix">


            <!--Content Left Side-->
            <div class="col-3">
                <div class="row profile-work">
                    <div class="profile-img">
                        <img src="https://image.freepik.com/vector-gratis/perfil-avatar-hombre-icono-redondo_24640-14044.jpg"
                            alt="" />
                    </div>
                    <div class="text-center">
                        <a href="#" class="button">
                            Editar Perfil <i class="fa fa-edit"></i>
                        </a>
                        <a href="#" class="button">
                            Ver favoritos <i class="fa fa-star"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--End Content Left Side-->

            <!--Content of the Right Side-->
            <div class="col-3">
                <div class="section-heading">
                    <h3>Perfil de Usuario</h3>
                    <h2 class="section-title">Nombre Apellido</h2>
                    <p class="section-subtitle">Información Personal</p>
                </div>
                <div class="row text-align-justiffy">
                    <div class="col-md-6">
                        <p id="dataname">Usuario: </p>
                    </div>
                    <div class="col-md-6">
                        <p class="data">investorexample</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p id="dataname">Teléfono celular: </p>
                    </div>
                    <div class="col-md-6">
                        <p class="data">59399422020</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p id="dataname">Correo personal: </p>
                    </div>
                    <div class="col-md-6">
                        <p class="data">investor@gmail.com</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <p id="dataname">Tipo financiamiento: </p>
                    </div>
                    <div class="col-md-6">
                        <p class="data">Capital Social</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p id="dataname">Experiencia en invertir: </p>
                    </div>
                    <div class="col-md-6">
                        <p class="data">5 años</p>
                    </div>
                </div>
            </div>
            <!--End Content Right Side-->

            <div class="col-3">
                <div class="profile-work">
                    <h4>Enlaces a sitios</h4>
                    <a href="">Website Link</a><br />
                    <a href="">Perfil Facebook</a><br />
                    <a href="">Perfil Linkedin</a>
                    <h4>Temas relacionados</h4>
                    <a href="">App móvil</a><br />
                    <a href="">Medio ambiente</a><br />
                    <a href="">Desperdicio de alimentos</a><br />
                </div>

            </div>

        </div>


    </div>
</section>
<!--End of Content Section-->